StockManager.API/bin/
StockManager.API/obj/
SalesManager.API/bin/
SalesManager.API/obj/

idp-keycloak/keycloack-data
idp-keycloak/postgres-data

APIGateway/bin/
APIGateway/obj/

# Arquivo não rastreado, pois é criado automaticamente pela estratégia OcelotConfig
APIGateway/ocelot.json
